<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-align: center;
        }

        h2 {
            color: #3498db;
        }

        p {
            font-size: 18px;
            color: #333;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <h2>Student Information</h2>
    <p><strong>Name:</strong> {{ student_info['Name'] }}</p>
    <p><strong>Registration Number:</strong> {{ student_info['Registration Number'] }}</p>
    <p><strong>Branch:</strong> {{ student_info['Branch'] }}</p>
    <p><strong>Year of Study:</strong> {{ student_info['Year_Study'] }}</p>
    <p><strong>Attendance Percentage:</strong> {{ student_info['Attendance Percentage'] }}%</p>
</body>
</html>
